<!DOCTYPE html>
<%= stylesheet_link_tag "application", media: "all" %>
<html>

  <body>
    <div class="notice"><%= notice %></div>
    <nav class="navbar">
      <%= link_to "Home", root_path, class: "nav-link" %>
      <% if authenticated? %>
        <%= button_to "Log out", session_path, method: :delete, class: "nav-button " %>
      <% end %>
      <%= link_to "Login", new_session_path, class: "button navbar-items" unless authenticated? %>
    </nav>

    <main>
      <%= yield %>
    </main>
  </body>
</html>